body {
  margin: 0;
  height: 100vh;
  background-color: #f4efe0;
}

@import url(//fonts.googleapis.com/css?family=Lato:300:400);

body {
  margin:0;
}

a {
  text-decoration: none;
}

h1 {
  font-family: 'Lato', sans-serif;
  font-weight:300;
  letter-spacing: 2px;
  font-size:48px;
}
h2 {
  font-family: 'Lato', sans-serif;
  font-weight:300;
  letter-spacing: 2px;
}
p {
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
  font-size:14px;
  color: #333333;
  width: 75%;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
}

.row {
  justify-content: center;
  align-items: center;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  width:100%;
}

.header {
  position:relative;
  text-align:center;
  background: linear-gradient(60deg, rgba(84,58,183,1) 0%, rgba(0,172,193,1) 100%);
  color:white;
}
.logo {
  width:50px;
  fill:white;
  padding-right:15px;
  display:inline-block;
  vertical-align: middle;
}

.inner-header {
  height:65vh;
  width:100%;
  margin: 0;
  padding: 0;
}

.flex { /*Flexbox for containers*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.content {
  position:relative;
  height:20vh;
  text-align:center;
  background-color: white;
}

#menu li a.special-popped-button, .special-popped-button {
	background-color:#74ad5a;
	-moz-box-shadow:inset 0px 1px 0px 0px #9acc85;
	-webkit-box-shadow:inset 0px 1px 0px 0px #9acc85;
	box-shadow:inset 0px 1px 0px 0px #83aac9;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #74ad5a), color-stop(1, #68a54b));
	background:-moz-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
	background:-webkit-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
	background:-o-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
	background:-ms-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
	background:linear-gradient(to bottom, #5886a9 5%, #497ba0 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#74ad5a', endColorstr='#68a54b',GradientType=0);
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:1px solid #214b6a;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	padding:6px 12px;
	text-decoration:none;
}
#menu li a.special-popped-button:hover, .special-popped-button:hover {
	background-color:#68a54b;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #68a54b), color-stop(1, #74ad5a));
	background:-moz-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
	background:-webkit-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
	background:-o-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
	background:-ms-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
	background:linear-gradient(to bottom, #497ba0 5%, #5886a9 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#68a54b', endColorstr='#74ad5a',GradientType=0);
}
#menu li a.special-popped-button:active, .special-popped-button:active {
	position:relative;
	top:1px;
}

#zoom {
  transform-origin: center;
  animation: vanish 4s infinite linear, zoom2 4s infinite cubic-bezier(0.65, 0, 0.35, 1); //easeInOutCubic
}
@keyframes zoom2 {
  from { transform: scale(1); }
  to { transform: scale(21.25); }
}
#background {
  transform-origin: center;
  animation: vanish 4s infinite linear, zoom1 4s infinite cubic-bezier(0.65, 0, 0.35, 1);;
}
#frame-face {
  transform-origin: center;
  animation: zoom1 4s infinite cubic-bezier(0.65, 0, 0.35, 1); //easeInOutCubic
}
#frame-face-small, #_face-clip {
  transform-origin: center;
  animation: zoom2 4s infinite cubic-bezier(0.65, 0, 0.35, 1); //easeInOutCubic
}
@keyframes zoom1 {
  from { transform: scale(1); }
  to { transform: scale(30); }
}
#window {
  animation: vanish 4s infinite linear, slide 4s infinite linear;
}
@keyframes slide {
  0%, 20% { transform: translateY(0%); }
  50%, 100% { transform: translateY(-10%); }
}
@keyframes vanish {
  0%, 40% { opacity: 1; }
  55%, 100% { opacity: 0; }
}
#yacht-second {
  animation: y2anim 4s infinite linear;
}
@keyframes y2anim {
  0%, 50% { transform: translateX(15%); }
  100% { transform: translateX(0); }
}
#sun-second {
  animation: sun2anim 4s infinite ease-out;
}
@keyframes sun2anim {
  56% { transform: translate(-10%, 5%); }
  100% { transform: translate(0, 0); }
}
#beach-second {
  animation: beach2anim 4s infinite cubic-bezier(0.33, 1, 0.68, 1); //easeOutCubic
}
@keyframes beach2anim {
  0%, 45% { transform: translateY(20%);}
  100% {transform: translateY(0);}
}
#house-second {
  transform-origin: center;
  animation: house2anim 4s infinite cubic-bezier(0.33, 1, 0.68, 1); //easeOutCubic
}
@keyframes house2anim {
  0%, 50% { transform: translateY(30%) scale(.4);}
  100% {transform: translateY(0) scale(1);}
}
#tree-shadow-second {
  transform-origin: center;
  animation: tree2anim 4s infinite cubic-bezier(0.33, 1, 0.68, 1); //easeOutCubic
}
@keyframes tree2anim {
  0%, 55% { transform: translateY(30%) scale(.2);}
  100% { transform: translateY(0) scale(1); }
}

/*
Copyright (c) 2021 by ROBaK (https://codepen.io/xlavoc/pen/OJMwPOy)

Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
*/
