	body {background:white;margin:0;padding:0;}

	canvas {background:white;cursor:none;display:block;}

/*
	nav {
		font-size: 2.5vw;
	}
	nav2 {
		font-size: 1vw;
	}

	@media screen and (max-width: 500px) {
    nav { font-size: 5vw; }
		nav2 { font-size: 3.5vw; }
}
*/

/*
	.scanlines {
	  overflow: hidden;
	  mix-blend-mode: difference;
		width: 100%;
		height: 100%;
	}

	.scanlines::before {
	  content: "";
	  position: absolute;
	  width: 100%;
	  height: 100%;
	  top: 0;
	  left: 0;

	  background: repeating-linear-gradient(
	    to bottom,
	    transparent 0%,
	    rgba(255, 255, 255, 0.05) .5%,
	    transparent 1%
	  );

	  animation: fudge 7s ease-in-out alternate infinite;
	}
	*/
